.clist_ct {
    width: 900px;
    margin: 0 auto;
    background-color: #fff;
}

.clist_tb {
    width: 900px;
}

.clist_tr .ora_icon {
    position: absolute;
    top: 0;
    left: 15px;
}

.clist_tr:hover {
    background: url(../img/chover_ora_bg.jpg) repeat-x bottom center;
}

.clist_tr .pic {
    padding: 25px 0 25px 30px;
    width: 230px;
    border-bottom: 1px solid #e4e6e9;
    position: relative;
}

    .clist_tr .pic > img {
        cursor: pointer;
    }

.clist_tr .info {
    width: 240px;
    padding: 20px;
    padding-right: 0;
    border-bottom: 1px solid #e4e6e9;
}

    .clist_tr .info .name {
        font-size: 18px;
        color: #60606c;
        line-height: 26px;
    }

    .clist_tr .info .oth {
        font-size: 12px;
        line-height: 24px;
    }

.clist_tr .ord {
    width: 320px;
    padding: 30px 20px 30px 0;
    border-bottom: 1px solid #e4e6e9;
}

    .clist_tr .ord a:hover {
        text-decoration: none;
    }

.clist_tr .order_box {
    width: 320px;
    height: 50px;
    float: right;
    margin-bottom: 12px;
}

    .clist_tr .order_box .pri {
        float: left;
    }

.clist_ct.set .clist_tr .order_box .od_btn.btn_yel {
    background-color: #ff8650;
}

    .clist_ct.set .clist_tr .order_box .od_btn.btn_yel:hover {
        background-color: #ff7433;
    }

.clist_ct .clist_tr .order_box .od_btn {
    float: right;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

    .clist_ct .clist_tr .order_box .od_btn.btn_yel {
        background-color: #fabe00;
    }

        .clist_ct .clist_tr .order_box .od_btn.btn_yel:hover {
            background-color: #ff8650;
        }